<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About Global Development and Design</title>
        <link rel = "stylesheet" href = "/css/aboutStyle.css" />
    
    </head>
    <body>
        <%- include('navbar') %>
            <section class="about-section">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 320">
                    <path fill="#f4f2dc" fill-opacity="1" d="M0,160L60,144C120,128,240,96,360,117.3C480,139,600,213,720,256C840,299,960,309,1080,282.7C1200,256,1320,192,1380,160L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
                  </svg>
                
                <h1 class="about-header">ABOUT</h1>
                <h2 class="about-header2">GLOBAL DEVELOPMENT AND DESIGN</h2>
                <p class="desc">
                    FIRE Global Development & Design explores what ethical development around the world really means and needs. 
                    We will look at the values-based differences between “good” and “bad” development and the technological and design tools that can help program designers do their jobs better.
                    The goal of this stream is to create an interactive, open-access, online toolkit that activists in your community and professionals around the world can use to design social impact projects, where each stage of the design process will be infused with the imperatives of ethical, inclusive development.    
                </p>
                <h2 class="about-header3">WHAT IS GDDLab?</h2>
                <p class="desc">
                    GDDLab is a workflow system, also known to be a ticket system that is intended for GDD module group use. It's purpose is to enhance efficiency and collaboration across various GDD module groups, such as by:
                </p>
                <ul class="list">
                    <li>Allowing GDD students to learn more about each module group such as each group's purpose, function, and team members.</li>
                    <li>Enabling seamless collaboration between module groups by reducing waiting periods and communication conflicts.</li>
                    <li>Streamlining the process for addressing bugs and adding features in the toolkit and other GDD-affiliated tools.</li>
                </ul>
                <p class="desc">GDDLab's Bug and Request forms work as a ticketing system--module teams submit the feature or bug they want to address in the toolkit or in a GDD-affiliated tool, and these requests get populated into a google sheet regularly reviewed by the L/PRMs and Dr. Huffman.
                    Other features of GDDLab allow team members across the stream to view other module group meeting times, and helps Dr. Huffman to be regularly updated with team tasks in one platform and in one place.
                    GDD Lab is still a WIP, but the GDD team plans on expanding the functionality of this tool, such as by implementing a task management system, creating a place for administrative tasks, etc.!
                </p>
                <p class="credit">
                    This tool was created by the Infrastructure and Interface team of the 2024 Cohort.
                </p>
            </section>

        <h3 class="header3">Our Team</h3>

        <div class="flex-container">
            <div class="cohort">
                <img src="2024Cohort2.jpg" class="cohort-image"/>
                <p class="cohort-label">2024 Cohort</p>
            </div>
            <div class="cohort">
                <img src="2023cohort2.jpg" class="cohort-image"/> 
                <p class="cohort-label">2023 Cohort</p>     
            </div>
            <div class="cohort">
                <img src="2022Cohort2.JPG" class="cohort-image"/>
                <p class="cohort-label">2022 Cohort</p>
            </div>
            <div class="cohort">
                <img src="2021Cohort.png" class="cohort-image"/>
                <p class="cohort-label">2021 Cohort</p>
            </div>
            <div class="cohort">
                <img src="2020Cohort.png" class="cohort-image"/>
                <p class="cohort-label">2020 Cohort</p>
            </div>
        </div>
    
        <%- include('aboutfooter') %>
    </body>
</html>