<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About Global Development and Design</title>
        <link rel = "stylesheet" href = "/css/aboutStyle.css" />
    
    </head>
    <body>
        <!-- <%- include('navbar') %> -->
            <section class="about-section">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 320">
                    <path fill="#f4f2dc" fill-opacity="1" d="M0,160L60,144C120,128,240,96,360,117.3C480,139,600,213,720,256C840,299,960,309,1080,282.7C1200,256,1320,192,1380,160L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
                  </svg>
                
                <h1 class="about-header">ABOUT</h1>
                <h2 class="about-header2">GLOBAL DEVELOPMENT AND DESIGN</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                </ul>
            </section>

        <h3>Our Team</h3>

        <div class="flex-container">
            <div class="cohort">
                <div class="2020 image"></div>
                <p>2020 Cohort</p>
            </div>
            <div class="cohort">
                <div class="2021 image"></div>
                <p>2021 Cohort</p>
            </div>
            <div class="cohort">
                <div class="2022 image"></div>
                <p>2022 Cohort</p>
            </div>
            <div class="cohort">
                <div class="2023 image"></div>
                <p>2023 Cohort</p>
            </div>
            <div class="cohort">
                <div class="2024 image"></div>
                <p>2024 Cohort</p>
            </div>
        </div>
    
        <footer>
            <p>ABOUT US  <a href class="2020Cohort">2020</a></li> | <a href class="2021Cohort">2021</a></li> | <a href class="2022Cohort">2022</a></li> | <a href class="2023Cohort">2023</a></li> | <a href class="2024Cohort">2024</a></li></p>
        </footer>
        
    </body>
</html>