<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GDDLab</title>

    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="/assets/css/bug_form.css"/>
  </head>
  <body>
    <%- include('navbar') %>
    <section>
      <title>BUG FORM</title>
    </section>
  </body>
</html>
