<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GDDLab</title>
    
    <link rel="stylesheet" href="css/bug_form.css" />

  </head>
  <body>
    <section>
      <%- include('navbar') %>
      <br><br>
      <form action="/submitBug" method="POST" enctype="multipart/form-data" >

        <h1 id="header">BUG FORM</h1>
        
        <p id="header-description">This form is the first process in 
        removing/resolving a bug observed in the toolkit or in an affiliated 
        tool. Once submitted, the form will be handed to Infrastructure and 
        Interface for review and will then go into the process of being resolved.</p>

        <h3>Contact Information</h3>

        <div>
          <label for="name">Name <span style="color:red">*</span></label><br>
          <input type="text" id="name" name="name" required><br>
        </div>

        <div>
          <label for="email">Email <span style="color:red">*</span></label><br>
          <input type="text" id="email" name="email" required><br>
        </div>

        <div>
          <label for="module">Module Team <span style="color:red">*</span></label><br>
          <select id="module" name="module" required>
            <option value="">Select your module team</option>
            <option value="training">Training and Knowledge Development</option>
            <option value="public">Public Policy</option>
            <option value="project plan">Project Planning</option>
            <option value="project eval">Project Evaluation</option>
            <option value="operational">Operational Protocols</option>
            <option value="infrastructure">Infrastructure and Interface</option>
            <option value="human-centered">Human-Centered Design</option>
            <option value="dev ethics">Development Ethics</option>
          </select><br>
        </div>

        <h3>Bug Information</h3>

        <div>
          <label for="location">If this bug is occurring in the toolkit, what page
          and where in the page <b>specifically</b> is the bug occurring? If this
          bug is occurring in a GDD-affiliated software tool, where is it 
          occurring? <span style="color:red">*</span></label><br>
          <textarea id="location" name="location" required></textarea><br>
        </div>

        <div>
          <label for="file_upload">Please attach a video or image of the bug. 
          <span style="color:red">*</span>
          </label><br>
          <input type="file" id ="file_upload" name="file" required><br>
        </div>

        <div>
          <label for="description">Please provide a <b>detailed</b> description of
          the bug such as events that lead to the bug occurring, the expected 
          outcome after the events, and the actual outcome (the bug). 
          <span style="color:red">*</span></label><br>
          <textarea id="description" name="description" required></textarea><br>
        </div>

        <div>
          <p>Select the level of priority <span style="color:red">*</span></p>
          <input type="radio" id="high" name="priority" value="High">
          <label for="high">High</label>
          <input type="radio" id="medium" name="priority" value="Medium">
          <label for="medium">Medium</label>
          <input type="radio" id="low" name="priority" value="Low">
          <label for="low">Low</label>
        </div>

        <div>
          <label for="due_date">When should this bug be fixed by?</label><br>
          <input type="date" id="due_date" name="due_date"><br>
        </div>

        <div id="buttons">
          <input class="button" id="clear" type="reset" value="Clear">
          <input class="button" id="submit" type="submit">
        </div>

      </form>
      
    </section>
  </body>
</html>
