<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GDDLab</title>

    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="stylesheet" href="css/confirmation_page.css" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 320">
      <path fill="#f4f2dc" 
            fill-opacity="1"
            d="M0,288L40,288C80,288,160,288,240,277.3C320,267,400,245,480,224C560,203,640,181,720,186.7C800,192,880,224,960,224C1040,224,1120,192,1200,197.3C1280,203,1360,245,1400,266.7L1440,288L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
      </path>
    </svg>
    <%- include('navbar') %>
    <section class="confirmation-container">
      <center>
        <p id="description">
          <br>
            Thank you for submitting the Request or Bug form.
          <br><br>
            Please reach out to Benjamin Huffman at bhuffman@umd.edu or via SLACK if you have any questions,
            concerns, and or would like to provide additional information.
          <br><br>
            A copy of your form response is sent to XXX.
          <br><br>
            If you'd like to change your response, please reach out to bhuffman@umd.edu or resubmit the form by refreshing this page.
          <br><br>
            You may exit this page.
        </p>
      </center>
    </section>
  </body>
</html>