<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GDDLab</title>

    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap" rel="stylesheet">
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 320">
      <path fill="#f4f2dc" 
            fill-opacity="1"
            d="M0,288L40,288C80,288,160,288,240,277.3C320,267,400,245,480,224C560,203,640,181,720,186.7C800,192,880,224,960,224C1040,224,1120,192,1200,197.3C1280,203,1360,245,1400,266.7L1440,288L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
      </path>
    </svg>
    <%- include('navbar') %>
    <div class="team-container">
      <div>
        <h1 id="container-title">Module Teams</h1>
      </div>
        <div class="team-subcontainer">
        <div class="team">
          <a href=""><img src="develop_ethics.jpeg" class="icon" /></a>
          <a href="/" class="team-name">Development Ethics</a>
        </div>
        <div class="team">
          <a href=""><img src="project_evaluation.png" class="icon" /></a>
          <a href="/" class="team-name">Project Evaluation</a>
        </div>
        <div class="team">
          <a href=""><img src="knowledge_dev.jpeg" class="icon" /></a>
          <a href="/" class="team-name">Training & Knowledge</a>
        </div>
        <div class="team">
          <a href=""><img src="human_centered_design.jpeg" class="icon" /></a>
          <a href="/" class="team-name">Human Center Design</a>
        </div>
        <div class="team">
          <a href=""><img src="project_planning.jpeg" class="icon" /></a>
          <a href="/" class="team-name">Project Planning</a>
        </div>
        <div class="team">
          <a href="/infrastructure-and-interface"><img src="infrastructure.png" class="icon" /></a>
          <a href="/infrastructure-and-interface" class="team-name">Infrastructure & Interface</a>
        </div>
        <div class="team">
          <a href=""><img src="public_policy.jpeg" class="icon" /></a>
          <a href="/" class="team-name">Public Policy</a>
        </div>
        <div class="team">
          <a href=""><img src="operational_protocols.jpeg" class="icon" /></a>
          <a href="/" class="team-name">Operational Protocol</a>
        </div>
    </div>
    </div>
  </body>
</html>
