<a href="/about-page" class="GDDLabHeader">GDDLab </a>
<nav>
    <a href="/" class="<%= activeTab === 'home' ? 'active' : 'defNav' %>">HOME</a></li>
    <a href="/requestForm" class="<%= activeTab === 'requestform' ? 'active' : 'defNav' %>">REQUEST FORM</a></li>
    <a href="/bugForm" class="<%= activeTab === 'bugform' ? 'active' : 'defNav' %>">BUG FORM</a></li>
    <a href="/about-page" class="<%= activeTab === 'about' ? 'active' : 'defNav' %>">ABOUT</a></li>
</nav>