/* Global CSS stuff */
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');
:root {
  --dark-green: #3e5b5b;
  --med-green: #578574;
  --light-green: #8ab380;
  --yellow-green: #d8df81;
  --beige: #EFECCB;
  --white: #fafafa;
  --red: #CF0303;
  --black: #1E1E1E;
}

* {
  font-family: 'Eczar', sans-serif;
}

body {
  overflow-x: hidden;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  transform: scale(8);
}

.GDDLabHeader {
  color: var(--dark-green);
  font-size: 3em;
  margin: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--beige);
  border-radius: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 10px 10px 9px -1px rgba(0,0,0,0.3);
}

.defNav {
  font-family: 'Ezcar', serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--dark-green);
  background-color: transparent;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  text-decoration: none;
  font-family: 'Eczar', sans-serif;
}

.defNav:hover {
  font-weight: bold;
}

.active {
  font-size: 1.5rem;
  background-color: var(--dark-green);
  color: var(--white);
  text-decoration: none;
  width: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  font-family: 'Eczar', sans-serif;
  font-weight: 500;
}
/* -- do not copy from here */

#container-title {
  color: var(--dark-green);
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.team-container {
  background-color: white;
  border-radius: 30px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  box-sizing: content-box;
  box-shadow: 10px 10px 9px -1px rgba(0,0,0,0.3);
  padding-bottom: 1%;
}

.team-subcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; /* change? */
  box-sizing: content-box;
}

.team {
  display: flex;
  flex: 1 0 21%;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.team-container .icon {
  width: 225px;
  height: 225px;
  border-radius: 50%;
}

.team-name {
  margin-top: 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  width: 75%;
  text-decoration: none;
  color: var(--black);
}

.team-name:hover {
  color: var(--dark-green);
  font-weight: bold;
}